-- Calling the whole Table
SELECT *
FROM Chocolate_Sales$

-- Top, Count, IN, Between, Where, Not in, Not Between
select top 100 *
from Chocolate_Sales$
where Country = 'brazil'

SELECT order_ID1, COUNT(Order_ID1) as NumberofCountry
FROM Chocolate_Sales$
GROUP BY Order_ID1

SELECT order_ID1, COUNT(Order_ID1) as NumberofCountry
FROM Chocolate_Sales$
GROUP BY Order_ID1

SELECT Top 200 *
FROM Chocolate_Sales$
WHERE Country in ('brazil', 'india', 'germany')
ORDER BY Country

SELECT *
FROM Chocolate_Sales$
WHERE Price_per_Box between 10 and 20 
       and  discount_pct in (1, 2, 3)
ORDER BY Amount DESC

-- Order by, Group by, Having
SELECT *
FROM Chocolate_Sales$

SELECT Salesperson, max(Marketing_Spend) as MarketSpd
from Chocolate_Sales$
GROUP BY Salesperson
HAVING max(Marketing_Spend) <= 500

-- Replace, Substring, Update, Delete
SELECT *
FROM Chocolate_Sales$

SELECT Salesperson --REPLACE(Salesperson, 'Lucas Walker', 'Mark Success') as Newnameas
FROM Chocolate_Sales$

SELECT *
FROM Chocolate_Sales$
--UPDATE Chocolate_Sales$
SET Salesperson = 'Mark Success'
WHERE Salesperson = 'Lucas Walker'

SELECT Price_per_Box, Marketing_Spend, Boxes_Shipped
FROM Chocolate_Sales$
--DELETE Chocolate_Sales$
WHERE Price_per_Box  is NULL

SELECT   --SUBSTRING(Salesperson, 1,6)
FROM Chocolate_Sales$

SELECT Salesperson, upper(salesperson) smallletters
FROM Chocolate_Sales$

--Subqueries 
SELECT Discount_Pct, price_per_box, (select AVG(price_per_box) from Chocolate_Sales$) as PPB
FROM Chocolate_Sales$

-- how to do Partition By
SELECT Discount_Pct, price_per_box, AVG(price_per_box) over() as PPB
FROM Chocolate_Sales$

-- Subquery in from
SELECT cv.Discount_Pct, PPB
FROM (SELECT Discount_Pct, price_per_box, AVG(price_per_box) over() as PPB
       FROM Chocolate_Sales$) cv


--Join, Right, Left, Full, Self
SELECT demo.EmployeeID, sal.EmployeeID
FROM Employeedemographics as demo
Join EmployeeSalary as sal 
ON demo.EmployeeID = sal.EmployeeID

SELECT demo.EmployeeID, sal.EmployeeID
FROM Employeedemographics as demo
Left Join EmployeeSalary as sal 
ON demo.EmployeeID = sal.EmployeeID

SELECT demo.EmployeeID, sal.EmployeeID
FROM Employeedemographics as demo
Right Join EmployeeSalary as sal 
ON demo.EmployeeID = sal.EmployeeID

SELECT demo.EmployeeID, sal.EmployeeID
FROM Employeedemographics as demo
FULL Join EmployeeSalary as sal 
ON demo.EmployeeID = sal.EmployeeID

SELECT demo.EmployeeID, sal.EmployeeID
FROM Employeedemographics as demo,
 EmployeeSalary as sal 
WHERE Age > 35

-- Union, Union all, Exist, Any, All 
SELECT *
FROM Chocolate_Sales$

SELECT EmployeeID 
FROM EmployeeSalary
UNION ALL
SELECT EmployeeID
FROM Employeedemographics

SELECT EmployeeID
FROM EmployeeSalary
WHERE Exists ( select EmployeeID
from Employeedemographics
where Employeedemographics.EmployeeID = EmployeeSalary.EmployeeID
 and Salary = 40000 )

 SELECT EmployeeID
FROM EmployeeSalary
WHERE EmployeeID = Any ( 
select EmployeeID 
from Employeedemographics 
where Salary >= 50000 )

 SELECT EmployeeID
FROM EmployeeSalary
WHERE EmployeeID = All ( 
select EmployeeID 
from Employeedemographics 
where Salary >= 50000 )

-- Case, Create Table, Alter Table
SELECT  country, Price_per_Box, 
Case 
when Price_per_box < 8 then 'Low_cost'
when Price_per_box between 8 and 15 then 'Medium_cost'
else 'High_cost' 
End as Price_category
from Chocolate_Sales$

SELECT *
FROM Chocolate_Sales$

-- New  column Added  
UPDATE Chocolate_Sales$
SET Price_category = CASE
WHEN Price_per_box < 8 THEN 'Low_cost'
WHEN Price_per_box between 8 and 15 THEN 'Medium_cost'
ELSE 'High_cost' 
END