body {
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url(Img/craft.jpeg);
   background-size: contain;
   justify-content: center;
   justify-items: center;
  display: flex;
}
  
.Topnav-bar{
   margin: 0;
   padding: 0;
}

.navlist {
  list-style: none;
   display: flex;
}

li {
   margin: 0 1rem;
 padding: 10px;
 font-weight: bold;
 border-radius: 30px;
 background-color: black;
 float: left;
}
  
li a{
   text-decoration: none;
   color: blueviolet;
   float: left;
}

.login-container {
   background-color: aqua;
   padding: 3.5rem 1rem 5rem 1rem;
   border-radius: 30px;
   width: 100%;
   max-width: 600px;
   justify-items: center;
   position: absolute;
   top: 150px;
}

.login-box h1{
   margin-bottom: 2rem;
   color: brown;
   text-align: center;
}

.login-box p{
   margin-bottom: 3rem;
   font-size: 2rem;
   font-weight: bold;
   font-style: italic;
   color: brown;
   text-align: center;
}

 .login-form  .inputgrp {
    margin-bottom: 2rem;
    text-align: left;
}

.login-form .inputgrp label {
   display: block;
   margin-bottom: 0.5rem;
   color: gold;
}

.login-form .inputgrp input{
   padding: 15px 90px;
   border-radius: 10px;
   border-style: none;
   background-color: aquamarine;
   cursor: pointer;
}

.button {
  text-align: center;
}

.button input{
   background-color: gold;
   border-radius: 5px;
   transition: background 0.3s ease-in;
}

.button input:hover{
   background-color: brown;
   color: #fff;
}

.extra-links {
      margin-top: 1.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      font-style: bold;
}

.extra-links a:hover{
   color: #fff;
}