body {
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   background-size: contain;
   justify-content: center;
   justify-items: center;
}
  
.Topnav-bar {
   margin: 0;
   padding-left: 40rem;
   float: right;
   background-color: black;
}

.navlist {
   list-style-type: none;
   display: flex; 
   padding: 0; 
}

li {
  margin: 0 1rem;
}

a {
   text-decoration: none;
   padding: 0 1rem;
   border-radius: 20rem;
}

a:hover{
     color: #fff;
     text-decoration: underline;
     background-color: gold;
}
 
.picture {
   position: absolute;
   left: 0.5px;
}

label {
   display: block;
}